<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015. Gyorvari Gabor. All rights reserved.</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>71562B89-0D90-4588-8E94-A75B701D6443</string>
		<string>AB695A2B-4605-4A74-A99F-AF9F9C92C41B</string>
		<string>DAF41AB7-F9AD-4273-9934-C81C74705B69</string>
		<string>1550C683-EA48-4036-B7CE-FB6F5D13EE02</string>
	</array>
	<key>Supported10.12PluginCompatibilityUUIDs</key>
	<array>
		<string>9054AFD9-2607-489E-8E63-8B09A749BC61</string>
		<string>1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E</string>
		<string>36CCB8BB-2207-455E-89BC-B9D6E47ABB5B</string>
		<string>21560BD9-A3CC-482E-9B99-95B7BF61EDC1</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>SignaturePlugin</string>
</dict>
</plist>
